@import '~pretty-checkbox/src/pretty-checkbox.scss';

$color: #262828;
$lowColor: #28c528;
$mediumColor: #ffec0a;
$hightColor: #ea0303;

$color-list: (
  orange: #FF9800,
  hover-orange: #ff6a00,
  selected-orange: #ff6a00,
  purpur: #9859ea,
  hover-purpur: #7435c5,
  selected-purpur: #7435c5,
  blue:  #6565ff,
  hover-blue: #0000ffc9,
  selected-blue: #0000ffc9,
);



@each $value in $color-list {

  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .filters.#{nth($value, 1)} .selected{
    color: nth($value, 2);
  }

  .filters.#{nth($value, 1)}:hover{
    color: nth($value, 2);
  }

  .sort-todo-render.#{nth($value, 1)} {
    color: nth($value, 2);
  }

  .sort.#{nth($value, 1)} {
    color: nth($value, 2);
  }

  .selected.#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .tool-item.#{nth($value, 1)}:hover{
    background-color: nth($value, 2);
  }

  .sort-item.#{nth($value, 1)}:hover{
    color: nth($value, 2);
  }

  .tool-render-button.#{nth($value, 1)}:hover{
    color: nth($value, 2);
  }
  

  .add-todo-button.#{nth($value, 1)}:hover{
    background-color: nth($value, 2);
  }

  .undo-redo.active.#{nth($value, 1)}:hover{
    background-color: nth($value, 2);
  }

  .tool-item.selected-#{nth($value, 1)}:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    height: 48px;
    background: black;
  }
}

body {
  color: $color;
}

header{
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #0008ff30;
}

.root {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #0008ff30;
}

.todo-section{
  display: flex;
  flex-direction: column;
  position: relative;
  background: #0000ff0d;
  height: 550px;
}

.add-todo{
  font-family: "arial";
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-todo{
  margin: 10px auto;
  padding: 16px 16px 16px 10px;
  width: 350px;
  border: 1px solid #00000038;
  background: white;
  border-radius: 5px;
  font-size: 24px;
  font-family: inherit;
}

.todo-list {
  height: 70%;
  flex: 1 0 auto;
  margin: 20px 0 0 0;
  font-size: 24px;
  z-index: 9;
  overflow: auto;
}

.todo-list.view-list{
  display: flex;
  flex-direction: column;
}

.todo-list.view-module{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.todo-list.view-module .item{
    width: 330px;
    height: 64px;
    display: flex;
    align-items: center;
}

.todo-list.view-module .toggle{
  top: 33px;
}

.todo-list.view-module .name-todo{
  top: 15px;
}

.todo-list.view-module .description-todo{
  top: 60px;
}

.todo-list.view-module .destroy{
  right: 12px;
    top: 10px;
}

.todo-list.view-module .edit{
  right: 10px;
    top: 50px;
}

.todo-list.view-module .todo-date-logo{
  right: 153px;
  font-size: 12px;
}

.todo-list.view-module .todo-date{
  left: 200px;
  font-size: 12px;
}

.item {
  width: 800px;
  height: 35px;
  font-family: "Arial";
  margin: 5px auto;
  padding: 15px 10px;
  background: white;
  border: 1px solid #00000030;
  border-radius: 3px;
  position: relative;
}

.footer{
  color: #777;
  padding: 10px 15px;
  height: 30px;
  border-top: 1px solid #e6e6e6;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Arial";
}

.todo-count{
  margin: 0 10px;
}

.filters{
  margin: 0 10px;
  cursor: pointer;
}

.destroy{
  position: absolute;
  right: 10px;
  top: 15px;
  color: #000002a6;
  cursor: pointer;
}

.destroy:hover{
  color: black;
}

.button-nav{
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.button-priority{
  margin: 0 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 22px;
  background: #e4e4e4;
  border: 1px solid #00000042;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

.low-priority:after{
  content: "L";
  color: white;
  margin: 3px 0px 0px 12px;
  display: block;
}

.medium-priority:after{
  content: "M";
  color: white;
  margin: 4px 0px 0px 8.5px;
  display: block;
}

.hight-priority:after{
  content: "H";
  color: white;
  margin: 4px 0px 0px 9.5px;
  display: block;
}

.low-priority.selected-priority{
  width: 35px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  background: $lowColor;
}

.medium-priority.selected-priority{
  width: 35px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  background: $mediumColor;
}

.hight-priority.selected-priority{
  width: 35px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  background: $hightColor;
}

.low-priority:hover{
  background: $lowColor;
}

.medium-priority:hover{
  background: $mediumColor
}

.hight-priority:hover{
  background: $hightColor;
}

.todo-description{
  width: 800px;
  height: 150px;
  margin: 10px auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sort-button{
  width: 120px;
  height: 30px;
  margin: 10px 0 0 200px;
  background: white;
  position: relative;
  z-index: 10;
}

.sort-button.render-sort{
  height: 150px;
}

.sort-todo-render{
  width: 200px;
  padding: 7px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  position: absolute;
}

.sort{
  width: 200px;
  padding: 7px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  position: absolute;
}

.sort-item{
  cursor: pointer;
}

// .sort-item:hover{
//   color: #777cbf;
// }

.edit {
  position: absolute;
  right: 60px;
  top: 15px;
  color: #000002a6;
  cursor: pointer;
}

.edit:hover{
  color:black;
}

.todo-date{
  position: absolute;
  color: #00000091;
  left: 600px;
  top: 5px;
  font-size: 14px;
}

.toggle{
  position: absolute;
  left: 62px;
  top: 20px;
}

.item.completed{
  opacity:0.6;
}

.name-todo{
  position: absolute;
  left: 110px;
  top: 7px;
  font-size: 20px;
  font-weight: bold;
  color: #000000c9;
}

.description-todo{
  position: absolute;
  left: 110px;
  top: 37px;
  font-size: 14px;
  font-weight: bold;
  color: #0000009c;
}

.add-todo-button{
  // background: $colorButton;
		border-radius: 30px;
		padding: 10px 20px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color:white;
		text-decoration: none;
		border:1px solid #a7a7a7;
		width: 145px;
    -webkit-transition:box-shadow 0.5s;
    outline: none;
    cursor: pointer;
}

.add-todo-button:hover{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
  // background: #0000e8;
}

.undo-redo{
  // background: $colorButton;
  color:white;
  font-family: arial;
	font-weight: bold;
  margin: 10px;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #a7a7a7;
  -webkit-transition: box-shadow 0.5s;
}

.undo-redo.disabled{
  color: #0000006b;
  background: #00000033;
}

.undo-redo.active:hover{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
  // background: #0000e8;
}

.content{
  background: #f0f0f3;
}

.tool-section{
  position: absolute;
  height: 610px;
  width: 0px;
  // background: $colorButton;
  z-index: 11;
  transition: width 0.3s;

}

.tool-section.render-tool{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 610px;
  width: 160px;
}

.tool-render-button{
  cursor: pointer;
  margin-left: 62px;
}

.none{
  display:none;
}

.image{
  height: 61px;
  width: 61px;
  margin: 0 auto;
}

.tool-item{
  color: white;
  padding: 15px;
  font-family: arial;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

// .tool-item:hover{
//   background: #0000ff8c;
// }

// .tool-item.selected{
//   background: #0000ff8c;
// }

// .tool-item.selected:before{
//   content: "";
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   width: 6px;
//   height: 48px;
//   background: #0000a9;
// }

.todo-date-logo{
  position: absolute;
  color: #00000091;
  right: 230px;
  top: 6px;
  font-size: 14px;
}

.sort-arrow{
  float: right;
  font-size: 20px;
}

.add-todo-icon{
  float: left;
  font-size: 16px;
}

.todo-completed-info{
  position: absolute;
  right: 255px;
  top: 4px;
  color: green;
  font-size: 14px;
}

.complete-todo{
  font-size: 20px;
  margin: 10px auto;
}

.view-nav{
  position: absolute;
  right: 188px;
  font-size: 26px;
  top: 20px;
  
}

.view-item{
  margin:5px;
  color: #000002a6;
  cursor: pointer;
}

.view-item:hover{
  color: black;
}

.view-item.selected{
  color: black;
}

.section-settings{
  width: 1200px;
  height: 549px;
  display: flex;
  justify-content: center;
  background: #0000ff0d;
}

.theme-item{
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:20px;
}

.them-item-color{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.priority{
  margin: 0;
  font-size: 20px;
  font-family: "Arial";
    font-weight: bold;
    color: #191919c9;
}

.todo-length{
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 20px;
  font-family: "Arial";
    font-weight: bold;
    color: #191919c9;
}

.todo-length span{
  color: #00000082;
}

